.navbar-logo {
  align-self: center;
  height: $nav-logo-height;
}

.navbar-text {
  align-self: center;
  font-size: 25px;
}

.navbar {
  background-color: white;
  box-shadow: 0 0 10px $grey;
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  position: fixed;
  width: 100%;
  z-index: 2;
}
