.tech-title {
  font-size: $text-medium;
  margin: 2px 49px 3px
}

.tech-release {
  font-size: $text-small;
  font-weight: bold;
  margin: 3px 0 6px 41px;
}

.tech-text {
  font-size: $text-small;
  margin: 6px 0 0 13px;
  text-align: center;
  width: 80%;
}

.tech-img {
  height: 80px;
  margin: 10px 0 2px 40px;
  width: 80px;
}

.tech-container {
  background-color: $green;
  border-radius: 3px;
  height: 254px;
  left: 20px;
  margin: 0 15px;
  position: relative;
  top: 8px;
  width: 172px;

  &::before {
    border: 1px solid $green;
    border-radius: 3px;
    content:'';
    display: block;
    height: 244px;
    left: -8px;
    position: absolute;
    top: -8px;
    width: 168px;
    }
}

.techs-container {
  display: flex;
  margin: 20px 55px;
}
