.tech-title {
  font-size: $text-medium;
  margin-bottom: 5px;
  margin-left: 49px;
  margin-top: 2px;
  right: 65px;
  top: 89px;
}

.tech-release {
  font-size: $text-small;
  font-weight: bold;
  margin-left: 41px;
  margin-bottom: 10px;
  right: 55px;
  top: 114px;
}

.tech-text {
  font-size: $text-small;
  margin-top: 10px;
  margin-left: 13px;
  right: 25px;
  text-align: center;
  top: 150px;
  width: 80%;
}

.react-img {
  height: 80px;
  margin-bottom: 2px;
  margin-left: 40px;
  margin-top: 10px;
  top: 11px;
  width: 80px;
}

.tech-container {
  background-color: $green;
  border-radius: 3px;
  height: 254px;
  left: 20px;
  position: relative;
  top: 8px;
  width: 172px;
  margin-right: 15px;
  margin-left: 15px;

  &::before {
    border: 1px solid $green;
    border-radius: 3px;
    content:'';
    display: block;
    height: 244px;
    left: -8px;
    position: absolute;
    top: -8px;
    width: 168px;
    }
}

.techs-container {
  display: flex;
  margin-left: 55px;
  margin-top: 20px;
  height: 800px;
}
