.title {
  font-size: $text-medium;
  left: 3.55em;
  position: relative;
  top: 2.7em;
    &::before{
      background: url('../assets/triangle.svg');
      background-repeat: no-repeat;
      content: '';
      height: $title-decoration-height;
      left: -3.35em;
      position: absolute;
      top: -2.5em;
      width: $title-decoration-width;
      z-index: -1;
    }
 }

.body-container {
  width: 300px;
  height: 300px;
}
