.title {
  font-size: $text-medium;
  position: relative;
  margin: 50px 0 35px 60px;
  &::before {
    background: url('../assets/triangle.svg');
    background-repeat: no-repeat;
    content: '';
    height: $title-decoration-height;
    left: -53px;
    position: absolute;
    top: -40px;
    width: $title-decoration-width;
    z-index: -1;
    }
 }
