.title-img {
  height: $title-decoration-height;
  position: absolute;
  width: $title-decoration-width;
  }

.title {
  font-family: $text-font;
  font-size: $text-medium;
  font-family: 'Roboto';
  left: 3.35em;
  position: relative;
  top: 2.5em;
 }
