.title {
  display: flex;
  font-size: $text-medium;
  justify-content: flex-start;
  margin: 50px 0 35px 60px;
  position: relative;

  &::before {
    background: url('../assets/triangle.svg');
    background-repeat: no-repeat;
    content: '';
    height: $title-decoration-height;
    left: -53px;
    position: absolute;
    top: -40px;
    width: $title-decoration-width;
    z-index: -1;
    }
 }

@media only screen and (max-width: $desktop-min-width) {
  .title {
    justify-content: center;

    &::before {
      left: 350px;
    }
  }
}
