@import './variables/_sizes';

.book {
  box-shadow: 4px 4px 10px 0 $shadow;
  display: flex;
  height: 416px;
  max-width: 1000px;
  padding: 24px;
  width: 100%;
}

.book-cover {
  margin-right: 52px;
  position: relative;

  &::before {
    position: absolute;
    background: url('assets/badge.png') no-repeat;
    content: '';
    height: 120px;
    width: 95px;
    left: 200px;
    top: -22px;
  }
}

.book-details-box {
  width: 100%;
}

.book-description {
  font-size: $text-small;
  font-weight: bold;
}

.book-description-box {
  margin-top: 36px;
}

.book-description-value {
  color: $grey;
  font-size: $text-small;
}

.book-title {
  font-size: $text-big;
  font-weight: bold;
  line-height: 38px;
}

.book-title-box {
  margin-bottom: 52px;
  position: relative;
  width: 100%;

  &::before{
    background-color: $green;
    bottom: -15px;
    content: '';
    height: 4px;
    left: -2px;
    position: absolute;
    width: 100%;
  }
}

.book-title-value {
  color: $grey;
  font-size: $text-medium;
  font-weight: bold;
  line-height: 28px;
}
