@import './variables/_sizes';

.book {
  box-shadow: 4px 4px 10px 0 $shadow;
  display: flex;
  height: 416px;
  max-width: 1000px;
  padding: 24px;
<<<<<<< HEAD
<<<<<<< HEAD
  width: 100%;
=======
  width: 1000px;
=======
>>>>>>> Rebase and fixing style issues
}

.book-cover {
<<<<<<< HEAD
  margin: 0 52px 0 0;
>>>>>>> changed margin for padding
}

.book-cover {
=======
>>>>>>> rebase fix :)
  margin-right: 52px;
}

.book-description {
  font-size: $text-small;
  font-weight: bold;
}

.book-description-box {
  margin-top: 36px;
}

.book-description-value {
  color: $grey;
  font-size: $text-small;
}

.book-title {
  font-size: $text-big;
  font-weight: bold;
  line-height: 38px;
}

.book-title-box {
  border-bottom: 4px solid $green;
  margin-bottom: 52px;
  padding-bottom: 8px;
  max-width: 640px;
  width: fit-content;
}

.book-title-value {
  color: $grey;
  font-size: $text-medium;
  font-weight: bold;
<<<<<<< HEAD
  line-height: 28px;
=======
>>>>>>> changed margin for padding
}
