@import './variables/sizes';

.back-button {
  position: relative;

  &::before {
    background: url('assets/back-arrow.png');
    content: '';
    height: 20px;
    left: -32px;
    position: absolute;
    width: 20px;
  }
}

.book {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $shadow;
  display: grid;
  grid-template-columns: 262px 262px 1fr;
  grid-template-rows: 110px 1fr;
  height: 416px;
  margin: 108px 0 0 80px;
  max-width: 1000px;
  padding: 24px;
  width: 100%;
}

.book-cover {
  grid-column: 1/1;
  grid-row: 1/2;
  position: relative;

  &::before {
    background: url('assets/badge.png') no-repeat;
    content: '';
    height: 120px;
    left: 200px;
    position: absolute;
    top: -22px;
    width: 95px;
  }
}

.book-description-box {
  margin-bottom: 36px;
}

.book-details-background {
  background-color: $wildsand;
  height: 768px;
  padding: 46px 0 0 80px;
}

.book-details-box {
  grid-column: 2 / span 3;
  grid-row: 2/2;
  margin-left: 52px;
}

.book-genre {
  grid-column: 3/3;
  grid-row: 1/1;
  padding-top: 6px;
}

.book-title {
  grid-column: 2 / span 3;
  grid-row: 1/1;
  margin-left: 52px;
  position: relative;

  &::before {
    background-color: $green;
    bottom: 55px;
    content: '';
    height: 4px;
    left: -2px;
    position: absolute;
    width: 100%;
  }
}

@media only screen and (max-width: $desktop-min-width) {
  .book {
    height: 570px;
    margin-top: 33px;
    margin: 0;
    max-width: 854px;
    padding: 32px;
  }

  .book-cover {
    grid-column: 1/1;
    grid-row: 2/2;
  }

  .book-details-box {
    align-self: center;
  }

  .book-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 2;
    justify-self: center;
    margin: 0;

    &::before {
      content: none;
    }
  }
}

@media only screen and (max-device-width: 376px) {
  .book {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    height: 570px;
    margin: 0 0 20px 0;
    max-width: 336px;
    padding: 12px 16px 24px 16px;
    width: 100%;
  }

  .book-cover {
    justify-self: center;

    &::before {
      background-size: calc(95px + -30%) calc(120px + -30%);
      left: 165px;
    }
  }

  .book-cover-image {
    height: 300px;
  }

  .book-description-box {
    margin: 18px 0 0;
  }

  .book-details-background {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-left: 0;
  }

  .book-details-box {
    align-self: end;
    grid-column: 1/1;
    grid-row: 4/4;
    margin: 0;
  }

  .book-genre {
    grid-column: 1/1;
    grid-row: 3/3;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;

    &::before {
      background-color: $green;
      content: '';
      height: 4px;
      left: 0;
      position: absolute;
      top: 30px;
      width: 100%;
    }
  }

  .book-title {
    grid-column: 1/1;
  }
}
