@import './variables/_sizes';

.book-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1366px;
  width: 100%;
}

.book-list-author {
  font-size: $text-xsmall;
  color: $grey;
  line-height: 18px;
  margin-top: 8px;
}

.book-list-cover {
  height: 200px;
  width: 142px;
}

.book-list-item {
  box-shadow: 4px 4px 10px 0 $shadow;
  display: flex;
  flex-direction: column;
  margin: 18px;
  padding: 28px 28px 23px;
}

.book-list-title {
  font-size: $text-small;
  font-weight: bold;
  line-height: 18px;
  margin-top: 10px;
}
