.input-box {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  max-width: 252px;
  width: 100%;
}

.login {
  align-content: flex-start;
  background-color: $wildsand;
  border-top: 6px solid $cerulean;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  justify-content: center;
  padding: 24px;
  width: 300px;
}

.login-button {
  background-color: $green;
  border-radius: 5px;
  display: flex;
  height: 32px;
  justify-content: center;
  margin-top: 24px;
  max-width: 252px;
  width: 100%;
}

.login-input {
  background-color: $white;
  border-radius: 5px;
  height: 32px;
  margin-top: 8px;
}

.login-logo {
  height: 70px;
}

.signup-button {
  background-color: $wildsand;
  border-radius: 5px;
  border: 2px solid $green;
  box-sizing: border-box;
  color: $green;
  height: 32px;
  margin-top: 34px;
  max-width: 252px;
  position: relative;
  width: 100%;

  &::before {
    background-color: $silver;
    content: '';
    height: 2px;
    left: -2px;
    position: absolute;
    top: -20px;
    width: inherit;
  }
}
