@import './variables/sizes';  

.navbar-logo {
    align-self: center;
    height: $navbar-height;
  }
  
  .navbar-logout-button {
    align-self: center;
    font-size: $text-small;
    line-height: 21px;
  }
  
  .navbar {
    border-top: 6px solid $cerulean;
    background-color: $white;
    display: flex;
    height: 70px;
    justify-content: space-around;
    // padding: 0 20px 0 20px;
    position: fixed;
    // top: 0;
    // left: 0;
    width: 100%;
    // z-index: 2;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
  }
  