@import './variables/sizes';

.navbar-logo {
  height: $navbar-height;
}

.navbar {
  background-color: $white;
  border-top: 6px solid $cerulean;
  box-shadow: 0 4px 10px 0 $shadow;
  display: flex;
  height: $navbar-height;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
}
