@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["HomePage"];
}

<h2>My movie List</h2>
<a class="btn btn-default" asp-area="" asp-controller="Movies" asp-action="Create" >Create</a>
