@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["HomePage"];
    ViewData["Message"] = "Hola";
}

<h2>My movie List</h2>
